.container {
  display: flex;
  background-color: white;
  justify-content: center;
}
.header {
  width: 375px;
  background-color: #f7f8f9;
  box-shadow: aliceblue;
}

.section-1 {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.section-2 {
  display: flex;
  flex-direction: column;
}
